.header {
    text-align: center;
}
.voteDIV1 {
    margin-left: 20%;
    margin-top: 5%;
}
.voteDIV2 {
    margin-left: 50%;
    margin-top: -3%;
}
.voteDIV3 {
    margin-left: 20%;
    margin-top: 5%;
}
.voteDIV4 {
    margin-left: 50%;
    margin-top: -3%;
}
.voteDIV5 {
    margin-left: 20%;
    margin-top: 5%;
}
.voteDIV6 {
    margin-left: 50%;
    margin-top: -3%;
}